body { font-family: sans-serif; background-color: white; }
a { color: #C09F80; }
p { color: #565656; text-align: center; margin: 1px auto; }
h2 { color: #76323F;}
h3 { color: #76323F; text-align: center; margin: 1px auto; font-size: 1.25em; }
